/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lora-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/lora-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lora-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lora-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/lora-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lora-v17-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
}
/* lora-600 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/lora-v17-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/lora-v17-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lora-v17-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lora-v17-latin-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/lora-v17-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lora-v17-latin-600.svg#Lora') format('svg'); /* Legacy iOS */
}
/* lora-italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/lora-v17-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/lora-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lora-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lora-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/lora-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lora-v17-latin-italic.svg#Lora') format('svg'); /* Legacy iOS */
}
/* lora-600italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/lora-v17-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/lora-v17-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lora-v17-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lora-v17-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/lora-v17-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/lora-v17-latin-600italic.svg#Lora') format('svg'); /* Legacy iOS */
}

a, h2 a, h3 a, h4 a {
  padding: 2px;
  font-weight: bold;
  color: black;
}

h2, h3, h4 {
  color: black;
}

a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  background-color: #00E8FC;
}

a:visited, h2 a:visited, h3 a:visited, h4 a:visited {
  color: #6F726E;
}

body {
  color: #292A28;
  background-color: #fafcff;
  font-family: 'Lora', serif;
  margin: 0;
  padding: 10px 100px;
  border-left: 15px solid #C2E812;
}

body, p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
  margin-top: 75px;
}

header h1 {
  display: inline-block;
  margin-bottom: 5px;
}

header .date {
  display: inline-block;
  font-style: italic;
  margin-left: 10px;
  margin-bottom: 5px;
}

header h2 {
  display: none;
}

header h3 {
  margin-top: 5px;
  margin-left: 25px;
}

main {
  width: 90%;
}

article {
  padding: 10px 50px;
}

article p {
  line-height: 1.35;
}

footer {
  border-top: 1px solid #292A28;
  padding-top: 25px;
  margin-top: 100px;
  margin-left: 25px;
}

footer li {
  margin-bottom: 5px;
}
